.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Để form đăng nhập chiếm toàn bộ chiều cao của màn hình */
}

.login-form {
  width: 300px; /* Độ rộng của form */
  padding: 20px; /* Khoảng cách giữa nội dung và viền */
  border: 1px solid #ccc; /* Viền xung quanh form */
  border-radius: 5px; /* Đường cong của viền */
  display: flex;
  flex-direction: column; /* Sắp xếp dọc các thành phần bên trong */
}

.login-form__title {
  text-align: center; /* Căn giữa tiêu đề */
}

.login-form_input {
  margin: 10px 0; /* Khoảng cách giữa các input */
  padding: 8px 10px; /* Đặt lại padding cho input */
  border: 1px solid #ccc; /* Viền của input */
  border-radius: 3px; /* Đường cong viền */
}

.login-form__button {
  padding: 8px 10px; /* Đặt lại padding cho button */
  border: none; /* Loại bỏ viền của button */
  border-radius: 3px; /* Đường cong của button */
  cursor: pointer; /* Hiển thị dấu nhấn khi hover */
  background-color: #3498db; /* Màu nền của button */
  color: white; /* Màu chữ của button */
}

.login-form__button:hover {
  background-color: #2980b9; /* Màu nền khi hover */
}
